$header-color: #2e3436;
$sidebar-color: #3465a4;

body {
    background: #EEE;
    margin: 2rem;
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

article {
    border: 1px solid #0002;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: 4px;
    background-color: #FFF;
    overflow: hidden;

    &.letter-format {
        width: 8.5in;
        height: 11in;
    }

    &.margin-slim {
        padding: 0.5in;

        header {
            margin: -0.5in -0.5in 0 -0.5in;
            padding: 0 0.5in;
        }

        nav.sidebar {
            margin: 0 0 0 -0.5in;
        }
    }

    &.style-standard {
        @import url('https://fonts.googleapis.com/css?family=Comfortaa|Didact+Gothic&display=swap');

        font-family: "Didact Gothic";

        header {
            background: $header-color;
            color: #FFF;
            overflow: auto;

            grid-column: 1 / 3;
            grid-row: 1;

            h1 {
                margin-bottom: 0.5rem;
            }

            h2 {
                margin: 0;
                margin-bottom: 2rem;
            }
        }

        h1 {
            font-family: "Comfortaa";
            font-size: 2.5rem;
        }

        h2 {
            font-family: "Comfortaa";
            font-size: 1.5rem;
        }
        
        section {
            position: relative;
            display: inline-block;
            width: 100%;

            &:first-of-type {
                margin-top: 1.5rem;
            }
        }

        small {
            line-height: 0;
            font-size: 0.75rem;
        }

        a:link {
            text-decoration: none;
            border-bottom: 1px dashed #FFF8;
        }

        .text-center {
            text-align: center;
        }

        .flex-spread {
            display: flex;
            flex-direction: row;
        }

        div.row {
            width: 100%;

            span {
                position: absolute;

                &:nth-child(1) {
                    left: 0;
                }

                &:nth-child(2) {
                    left: 1.5in;
                }
            }
        }

        nav.sidebar {
            background-color: $sidebar-color;
            width: 25%;
            height: 100%;

            padding: 0.25in 0.25in 0.25in 0.5in;
            margin-right: 0.5in;
            color: #FFF;

            grid-column: 1;
            grid-row: 2;

            h3 {
                margin-top: 0;
                margin-bottom: 0.5rem;
                font-family: "Comfortaa";
            }

            ul {
                margin: 0.25rem 0 2rem 0;
                padding-left: 1rem;

                small {
                    display: inline-block;
                    width: 100%;
                }
            }

            p {
                margin: 0 0 2rem 0;
            }

            div.gauge {
                width: 10rem;
                height: 0.5rem;
                border-radius: 0.25rem;
                background: #0004;
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: var(--level);
                    background-color: #FFF;
                    border-radius: 0.25rem;
                }
            }
        }
    }
}