<article class="letter-format margin-slim sidebar-left header-regular">
    <header>
        <h1>Maxim Therrien</h1>
        <h2>IT Specialist / Front-End Web Developer</h2>
    </header>
    <nav class="sidebar">
        <h3>Information</h3>
        <p>
            <a href="mailto:acerspyro@gmail.com">acerspyro@gmail.com</a>
            <a href="mailto:maxim@acerspyro.ca">maxim@acerspyro.ca</a>
            <span>🗺️ Montréal, QC</span>
            <span>21, self-taught front-end web developer, fully bilingual (EN/FR)</span>
        </p>
        <h3>Skills</h3>
        <ul>
            <li>
                HTML / CSS
                <div class="gauge" style="--level: 90%;"></div>
            </li>
            <li>
                TypeScript / NodeJS
                <div class="gauge" style="--level: 85%;"></div>
            </li>
            <li>
                PowerShell
                <div class="gauge" style="--level: 80%;"></div>
            </li>
            <li>
                Git
                <div class="gauge" style="--level: 70%;"></div>
            </li>
            <li>
                PHP7
                <div class="gauge" style="--level: 60%;"></div>
            </li>
            <li>
                SQL
                <div class="gauge" style="--level: 45%;"></div>
            </li>
            <li>
                C++/C
                <div class="gauge" style="--level: 30%;"></div>
            </li>
        </ul>
        <h3>Software</h3>
        <ul>
            <li>Linux, Windows, MacOS</li>
            <li>VSCode, Atom</li>
            <li>KDevelop, Visual Studio</li>
            <li>GIMP, Inkscape, AI, ID</li>
        </ul>
        <h3>Education
            <ul>
                <li>CFP de Châteauguay
                    <span><small>📜 Vocational Studies - Tech Support</small></span>
                </li>
            </ul>
        </h3>
    </nav>
</article>