article.letter-format.margin-slim.sidebar-left.header-regular
  header
    h1 Maxim Therrien
    h2 IT Specialist / Front-End Web Developer
  nav.sidebar
    h3 Information
    p
      a(href='mailto:acerspyro@gmail.com') acerspyro@gmail.com
      br
      a(href='mailto:maxim@acerspyro.ca') maxim@acerspyro.ca
      br
      | 🗺️ Montr&eacute;al, QC
      br
      | 21, self-taught front-end web developer, fully bilingual (EN/FR)
      br
    h3 Skills
    ul
      li HTML / CSS
        br
        .gauge(style='--level: 90%;')
      li TypeScript / NodeJS
        br
        .gauge(style='--level: 85%;')
      li PowerShell
        br
        .gauge(style='--level: 80%;')
      li Git
        br
        .gauge(style='--level: 70%;')
      li PHP7
        br
        .gauge(style='--level: 60%;')
      li SQL
        br
        .gauge(style='--level: 45%;')
      li C++
        br
        .gauge(style='--level: 30%;')
    h3 Software
    ul
      li Linux, Windows, MacOS
      li Atom, VSCode
      li KDevelop, Visual Studio
      li GIMP, Inkscape, AI, ID
    h3 Education
    ul
      li CFP de Ch&acirc;teauguay
        br
        small 📜 Vocational Studies - Tech Support
        br
        small 🎓 2018
      li La Magdeleine HS
        br
        small 🎓 2015
    h3 References
    ul
      li
        a(href='https://github.com/acerspyro/' target='_blank') github.com/acerspyro
      li
        a(href='https://codepen.io/acerspyro/' target='_blank') codepen.io/acerspyro
  section
      h2 Work Experience
      .experience
        div Summer 2017
          br
          | Present
        div
          h4 FL Fuller Landau
          small IT Support / System Administrator
          ul
            li Handle IT requests through a HelpDesk software during business hours
            li Troubleshoot and find solutions to issues
            li Configure and launch new services and softwares
            li Manage coming and departing users through LDAP and O365
            li Respond to emergencies after-hours
            li Recover files and assist in disaster recovery
        div Winter 2018
          br
          | Present
        div
          h4 Freelance Web Development
          small Front-End Web Developer
          ul
            li Networking and acquiring potential clients
            li Receive requirements and deliver an estimate
            li Calculate hours and bill clients accordingly
            li Troubleshoot issues in a live environment
            li Deploy sandbox environments to develop client requirements
            li Manage project source code via Git
        div October 2018
        div
          h4 Éléctions Québec
          small Teller / Poll worker
          ul
            li Hand the ballot to the elector and provide instructions
            li Set up poll stations with the proper supplies
            li Validate the identity and right to vote of the elector
            li Handle special cases appropriately depending on the situation
            li Count the ballots and complete the provided official forms