<!DOCTYPE html>
html(lang="en")
  head
    block metadata
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css", integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=", crossorigin="anonymous")
    title 💾 My name is Maxim Therrien
    link(rel="stylesheet", href="main.css")
  body
    nav.navbar(role="navigation", aria-label="main navigation")
      .navbar-brand
        a.navbar-item
          img(src="../res/logo.png")
      .navbar-menu
        .navbar-start
          a.navbar-item Hello!
          a.navbar-item Hi!
          a.navbar-item Salut!
    each page in pages.length ? pages : ['No pages have been built.']
      | !{page}