<!DOCTYPE html>
html(lang="en")
  head
    block metadata
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      //link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css", integrity="sha256-vK3UTo/8wHbaUn+dTQD0X6dzidqc5l7gczvH+Bnowwk=", crossorigin="anonymous")
    title 💾 Maxim Therrien
    link(rel="stylesheet", href="main.css")
  body
    nav.navbar(role="navigation", aria-label="main navigation")
      .navbar-brand
        a.navbar-item
          img(src="assets/acerspyro.svg")
      .navbar-menu
        a.navbar-item(href='https://acerspyro.ca') CV
        a.navbar-item(href='https://github.com/acerspyro') GitHub
        a.navbar-item(href='https://codepen.io/acerspyro') CodePen
    each page in pages.length ? pages : ['No pages have been built.']
      | !{page}