
body > nav.navbar {
    position: relative;
    width: calc(100% - 1rem);
    padding: 0.5rem;

    background-color: #2e3436;
    border-radius: 4px;
    box-shadow:
        0 .5rem 1rem rgba(0,0,0,.15),
        inset 0 0 0 2px #3465a4;

    @media print {
        display: none;
    }
}

.navbar {
    display: block;
    text-align: center;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
}

.navbar-menu {
    .navbar-item {
        margin: 0.25rem 0;
        font-family: "Verdana";

        &:not(:last-child) {
            &::after {
                content: '|';
                margin: 0 1rem;
                font-weight: bold;
            }
        }
    }
}

.navbar-brand {
    margin-bottom: 0.25rem;
}